<div class="container-fluid mt-2">
  <div class="form-group row">
    <form method="post" class="comment-form" action=".">
      {% csrf_token %}
      {{ comment_form.as_p }}
      {% if request.user.is_authenticated %}
        <input type="submit" value="Submit" class="btn btn-outline-success">
      {% else %}
        <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
      {% endif %}
    </form>
  </div>
</div>

{{ comments.count }} Comment{{ comments|pluralize }}
{% for comment in comments %}
  <blockquote class="blockquote">
    <p class="mb-0"><small>{{ comment.content }}</small></p>
    <footer class="blockquote-footer"><small>by <cite title="Source Title">{{ comment.user|capfirst }}</cite></small>
    </footer>
  </blockquote>

{% endfor %}
