{% extends 'app/base.html' %}
{% block content %}


    <div class="messages">
  {% if messages %}
    {% for message in messages %}
      <p class="alert alert-{{ message.tags }}">
        {{ message }}
      </p>
    {% endfor %}
  {% endif %}
</div>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
     <small>
         <a href="{%  url 'register' %}"> Register </a> |

         <a href="{%  url 'password_reset' %}"> Forgot Password </a>
     </small>
    <input type="submit" value="Login" class="btn btn-outlined-success">
    <p> --OR-- </p>
    <a href="{% url 'social:begin' 'github' %}">
        <button type="button" name="button" class="btn btn-primary">Github</button>
    </a>
     <a href="{% url 'social:begin' 'google-oauth2' %}">
        <button type="button" name="button" class="btn btn-danger">Google</button>
    </a>
    </form>
{% endblock %}