{% extends 'app/base.html' %}
{% block content %}
<div class="row">

    {% for i in posts %}
        <div class ="col-md-6">
          <div class ="img-thumbnail">

              <a href= "{{ i.get_absolute_url }}">{{ i.title }}</a><small style="float:right">{{ i.created }}</small><br>
              Author: {{ i.author}}<br>
               {{ i.body }}
          </div>
        <br>
        </div>

        {% empty %}
            <div class="container-fluid">
            <h3>No results for "{{ request.GET.q }}"</h3>
            </div>
    {% endfor %}
</div>
    <ul class="pagination">
        {% for p in posts.paginator.pagerange %}
            {% if posts.number == p %}
                <li class="page-item active">
                <a href="?page={{ p }}" class="page-link">{{ p }}</a>
                </li>
            {% else %}
                <li class="page-item">
                <a href="?page={{ p }}" class="page-link">{{ p }}</a>
            </li>
            {% endif %}
        {% endfor %}

    </ul>
{% endblock %}